flask
python-dotenv
pymongo
pandas
google-generativeai
langchain-google-genai
langchain-core
langchain-community
langchain-huggingface
langchain-chroma
sentence-transformers
chromadb
pypdf
pytesseract
langchain-text-splitters
Pillow
gTTS
SpeechRecognition
pyaudio
